<launch>
  <node name="watchdog" pkg="mission_control" type="watchdog_node.py" output="screen">
    <param name="debug" type="bool" value="true" />
    <param name="debug_file" value="$(find mission_control)/log/test.log" />
    <param name="node_dead_after" value="0.5" />
  </node>

  <node name="fail_safe" pkg="mission_control" type="behaviour_fail_safe_node.py" output="screen">
    <param name="state_machine" value="$(find mission_control)/examples/scripts/state_machine_fail_safe.py" />
  </node>

  <node name="node1" pkg="mission_control" type="behaviour_node.py" output="screen">
    <param name="priority" value="3" />
    <param name="active" value="int(self.get_var('counter6')) &lt; 6 and int(self.get_var('counter3')) != 0" />
    <param name="state_machine" value="$(find mission_control)/examples/scripts/state_machine_priority3.py" />
    <param name="wait_before_startup" value="0.7" />
  </node>
  <node name="node2" pkg="mission_control" type="behaviour_node.py" output="screen">
    <param name="priority" value="6" />
    <param name="active" value="int(self.get_var('counter6')) &lt;= 10 and bool(self.get_var('fuel_tank')) and int(self.get_var('counter6')) != 0" />
    <param name="state_machine" value="$(find mission_control)/examples/scripts/state_machine_priority6.py" />
  </node>
  <node name="node3" pkg="mission_control" type="behaviour_node.py" output="screen">
    <param name="priority" value="1" />
    <param name="active" value="not bool(self.get_var('fuel_tank'))" />
    <param name="state_machine" value="$(find mission_control)/examples/scripts/state_machine_priority1.py" />
  </node>
</launch>
