<launch>
  <node name="move_rooms" pkg="mission_control" type="behaviour_node.py" output="screen">
    <param name="priority" value="6" />
    <param name="active" type="string" value="True" />
    <param name="script" value="$(find mission_control)/examples/scripts/use_case_move_rooms.py" />
    <param name="wait_before_startup" value="0.7" />
  </node>

  <node name="move_to_recharge" pkg="mission_control" type="behaviour_node.py" output="screen">
    <param name="priority" value="1" />
    <param name="active" type="string" value="int(self.get_var('battery_level')) &lt; 20 or int(self.get_var('recharging', 1)) == 1" />
    <param name="script" value="$(find mission_control)/examples/scripts/use_case_recharge.py" />
    <param name="wait_before_startup" value="0.7" />
  </node>

  <node name="battery" pkg="mission_control" type="use_case_simulate_battery.py" output="screen">
  </node>
</launch>
