<launch>
  <node name="watchdog" pkg="mission_control" type="watchdog_node.py" output="screen">
    <param name="debug" type="bool" value="true" />
    <param name="debug_file" value="$(find mission_control)/log/test.log" />
    <param name="node_dead_after" value="2" />
  </node>

  <node name="fail_safe" pkg="mission_control" type="behaviour_subprocess_test_fail_safe_node.py" output="screen">
    <param name="script" value="$(find mission_control)/examples/scripts/custom_script_fail_safe.py" />
  </node>

  <node name="node2" pkg="mission_control" type="failing_behaviour_node.py" output="screen">
    <param name="priority" value="6" />
    <param name="active" type="string" value="True" />
    <param name="state_machine" value="$(find mission_control)/test/test_state_machine_set_variable6.py" />
  </node>

  <test test-name="test_watchdog" pkg="mission_control" type="test_watchdog_fail_safe.py" />
</launch>
