<launch>
  <node name="node1" pkg="mission_control" type="behaviour_node.py" output="screen">
    <param name="priority" value="3" />
    <param name="active" value="int(self.get_var('counter6')) &lt; 6 and int(self.get_var('counter3')) != 0" />
    <param name="state_machine" value="$(find mission_control)/examples/scripts/state_machine_priority3.py" />
    <param name="wait_before_startup" value="0.7" />
  </node>

  <test test-name="test_node1" pkg="mission_control" type="test_behaviour.py" />
</launch>
