<launch>
  <node name="watchdog" pkg="mission_control" type="watchdog_testing_node.py" output="screen">
    <param name="debug" type="bool" value="true" />
    <param name="debug_file" value="$(find mission_control)/test.log" />
    <param name="node_dead_after" value="2" />
  </node>

  <test test-name="test_watchdog" pkg="mission_control" type="test_watchdog.py" />
</launch>
