<launch>
  <node name="node1" pkg="mission_control" type="behaviour_subprocess_on_token_passing_node.py" output="screen">
    <param name="priority" value="3" />
    <param name="active" value="int(self.get_var('test_counter6', 10)) &lt; 6 and int(self.get_var('test_counter3', 10)) != 0" />
    <param name="script" value="$(find mission_control)/test/test_custom_script_priority3.py" />
  </node>
  <node name="node2" pkg="mission_control" type="behaviour_subprocess_on_token_passing_node.py" output="screen">
    <param name="priority" value="6" />
    <param name="active" value="int(self.get_var('test_counter6', 10)) &lt;= 10 and int(self.get_var('test_counter6', 10)) != 0" />
    <param name="script" value="$(find mission_control)/test/test_custom_script_priority6.py" />
  </node>

  <test test-name="test_token_passing" pkg="mission_control" type="test_behaviour_on_token_passing.py" />
</launch>
